h6 {
  display: inline;
}
html {
  background: url('mac.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}
h1 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: normal;
}
h2 {
  font-size: 18px;
  margin-top: 0px;
}
p {
  font-size: 15px;
}
/* img.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
} */
#wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}
.line {
  width: 50px;
  height: 3px;
  background: #cccccc;
  border: none;
}

.display {
  display: inline-block;
  color: white;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
}

.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.parent {
  border: 1px solid;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
  display: flex;
}

img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
