h6 {
  display: inline;
}
html {
  background: url('mac.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}
h1 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: normal;
}
h2 {
  font-size: 18px;
  margin-top: 0px;
}
p {
  font-size: 15px;
}
img.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
}
#wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}
.line {
  width: 50px;
  height: 3px;
  background: #cccccc;
  border: none;
}

.display {
  display: inline-block;
  color: white;
}
